:root{
	--c-blue0: #131374;
	--c-yellow0: #ecec8a;
	--c-blue1: #0000ff;
	--c-yellow1: #ffff00;
	//font-family: sans-serif;
}
body{
	background-color: #000000;
}



#id-div2{
	margin-top: 32px;
	margin-bottom:32px;
	background-color: var(--c-blue0);
	outline: 5px solid var(--c-yellow1);
}
#id-div2 img{
	width: 100%;
	height: auto;
	//margin-top:20px;
}



#id-div3{
	background-color:var(--c-blue1);
}
#id-div3 h3{
	color:white;
	text-align:center;
	font-size:x-large;
	font-family:serif;
}

#id-div5{
	padding:8%;
}
#id-div3 h1{
	color: white;
	text-align: center;
	font-family:serif;
	font-size:xxx-large;
}

#id-div6{
	//margin-top: 10%;
	//background-color:brown;
}

#id-div6 h3{
	color:white;
	font-family:serif;
}
#id-div6 p{
	word-break: break-word;
	font-family:sans-serif;
	font-weight:normal;
	font-size:large;
	text-align:left;
	line-height:1.0;
	color:white;
}
#id-div6 img{
	padding-top: 0pt;
	padding-bottom: 25pt;
}











/*
#id-div2 h3	
{
	color:white;
	text-align: center;
	font-weight:normal;
}

#id-div2
{
	margin-left: 25%;
	margin-right: 25%;
	color: white;
}
#id-div2 h1
{
	font-weight:normal;
}
#id-div2 h2
{
	font-weight:normal;
	line-height:1;
	height:50%;
	
}

#id-div2 img
{
	width: 100%;
}

*/ 