:root{
	--c-black: #000000;
	--c-blue0: #131374;
	--c-yellow0: #ecec8a;
	--c-blue1: #0000ff;
	--c-yellow1: #ffff00;
	--c-blue2: #8888ff;
	/* font-family: sans-serif; */
}
body{
	background-color: #000000;
}

#id-div2{
	margin-top: 32px;
	margin-bottom:32px;
	background-color: var(--c-blue0);
	outline: 5px solid var(--c-yellow1);
}
#id-div2 img{
	width: 100%;
	/* height: auto; */
	/* margin-top:20px; */
}



#id-div3{
	background-color:var(--c-blue0);
	/* padding-top:1%; */
	/* padding-bottom:1%; */
}
#id-div3 img{
	/* border-style: solid; */
	/* border-width: 5px; */
	/* border-color: yellow; */
	width:100%;
	outline: 5px solid var(--c-yellow1);
	max-width:480px;
	
}
#id-div3 h3{
	color:white;
	text-align:center;
	font-size:x-large;
	font-family:sans-serif;
}

#id-div6{
	padding:8%;
}
#id-div3 h1{
	color: white;
	text-align: center;
	font-family:serif;
	font-size:xxx-large;
}

#id-div6 p{
	word-break: break-word;
	font-family:sans-serif;
	font-weight:normal;
	font-size:large;
	text-align:left;
	line-height:1.0;
	color:white;
}
#id-div6 #id-email{
	padding-top: 0pt;
	padding-bottom: 25pt;
	width:100%;
}

#id-div6 img{
	width:27px;
	float:left;
}

#id-div6 a{
	color:var(--c-blue2);
	text-align:center;
}
#id-div6 a:hover{
	color:var(--c-yellow0);
}